@import '/src/css/custom.css';


.app_container {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--item-container-color);
    text-decoration: none;
    color: inherit;
    display: flex;
    
}

.content_container h4 {
    color:var(--text-color-2);
}

.app_container:hover {
    text-decoration: none;
    color: inherit;
    box-shadow: var(--box-shadow);
}

.content_container {
    padding: 20px;
    flex: 2;
}


.app_img_container img {
    display: block;
    width: 100%;
    height: auto;
}

.app_img_container {
    flex: 1;
    border-radius: 4%;
    overflow: hidden;
}

.osRow {
    display: flex;
    justify-content: flex-start;

}

.osItem {
    font-size:12px;
    background-color: var(--flags-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}


@media screen and (max-width: 450px) {
    .app_container, .app_container:hover {
        border:none;
        border-radius: 0px;
        margin-bottom:10px;
    }
}