[data-theme='light'] {
    --gradient-text: linear-gradient(to right, #4688ec, #b200c2);
    --app-item-os-label-color: #c0c0c073;
    --page-bg-color: #ffffff;
    --app-item-bg-color: #ffffff6c;
}

[data-theme='dark'] {
    --gradient-text: linear-gradient(to right, #5cafe6, #f85ed7);
    --app-item-os-label-color: #7a7a7a73;
    --page-bg-color: #000000;
    --app-item-bg-color: #111;
}