@import '/src/css/custom.css';


/* commmon css for all pages */

.link {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: var(--ifm-color-primary);
    text-decoration-thickness: 2px;
}

.page_body {
    padding: 20px;
    width: 800px;
}

/* apps page */
main {
    padding: 30px;
}

.page_title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.page_title strong {
    background: var(--gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/*  learn page */

.sectionList {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 0;
    white-space: nowrap;
}

.card {
    width: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
    height: auto;
}

.card p {
    font-size: 1rem;
    margin: 10px 0;
    text-align: center;
}

.gh_sponsor_card{
    border:0px;
    border-radius:10px;
    width: 100%;
    height: 100px;
    background-color: inherit;
}

@media screen and (max-width: 480px) {
    .page_title {
        text-align: center;
        font-size: 30px;
    }
    .gh_sponsor_card{
        width: 100%;
        height:200px;
    }
    .page_body {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}


@media screen and (min-width: 912px) {
    .page_body {
        width: 800px;
        align-self: center;
    }
}